body {
  background: black;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.form-container1 {
  width: 500px;
  background-color: white;
  margin: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 10px;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
}

.success-message {
  font-family: "Roboto", sans-serif;
  background-color: #3f89f8;
  padding: 15px;
  color: white;
  text-align: center;
}

.form-field {
  margin: 10px 0 10px 0;
  padding: 15px;
  font-size: 16px;
  border: 0;
  font-family: "Roboto", sans-serif;
}

span {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  color: red;
  margin-bottom: 15px;
  text-align: center;
}

input {
  background: #f2f2f2;
}

.error {
  border-style: solid;
  border: 2px solid #ffa4a4;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background: var(--first-color);
  color: #fff;
  border: none;
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.mr {
  margin-right: 10px;
}

.display-flex-col {
  display: flex;
  flex-direction: column;
}

.display-flex {
  display: flex;
  align-items: center;
}

.display-flex p {
  color: black;
}
.justify-between {
  justify-content: space-around;
}
