@import '../styles/theme.css';

.attendance-table-container {
  width: 90%; 
  height: 70vh; 
  background-color: var(--bg-paper);
  margin-left: auto; 
  margin-right: auto; 

  padding: 10px;
}

.search-date-container {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  position: sticky; 
  top: 0; 
  background-color: var(--bg-paper); 
  z-index: 10; 
  padding-bottom: 5px;
}

.Button {
  background-color: var(--primary-main);
}

.attendance-table {
  width: 100%; 
  border-collapse: collapse;
  background-color: var(--bg-main);
}

.attendance-table thead th {
  background-color: var(--primary-main); 
  position: sticky; 
  top: 60px; 
  z-index: 5; 
  color: var(--text-light);
}

.attendance-table tbody {
  display: block;

  width: 100%;
}

.TableCell {
  font-weight: var(--font-semi-bold);
}

.attendance-table thead,
.attendance-table tbody tr {
  display: table;
  table-layout: fixed; 
  width: 100%; 
}

.attendance-table th,
.attendance-table td {
  padding: 8px 5px; 
  color: var(--text-primary);
  text-align: left;
  white-space: nowrap; 
}

.attendance-table .serial-cell {
  width: 40px; 
  padding-right: 0; 
}

.attendance-table .name-cell {
  padding-left: 5px; 
}

.attendance-table tr:nth-child(even) {
  background-color: var(--bg-main);
}

.Textfield {
  margin-right: 10px;
  margin-left: 10px;
}

.edit-input {
  width: 100%; 
}

.attendance-table td .icon,
.attendance-table th .icon {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.date-inputAttendance input {
  background-color: var(--bg-paper);
}

.search-box input {
  background-color: var(--bg-paper);
}
