.attendance-table-container {
  width: 90%; /* Set the width to 70% */
  height: 70vh; /* Set the height to 60% of the viewport height */
  background-color: #ffffff;
  /* background-color: white; */

  margin-left: auto; /* Center the container */
  margin-right: auto; /* Center the container */
  
  padding: 10px;
  /* overflow: hidden; /* Disable container scrolling, allow scrolling within the table 
  position: relative; Required for positioning fixed elements inside */
}

.search-date-container {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  position: sticky; /* Keeps the search container fixed when scrolling */
  top: 0; /* Sticks to the top of the container */
  background-color: #ffffff; /* Match the background to avoid visual artifacts */
  z-index: 10; /* Ensures it stays on top of other content */
  padding-bottom: 5px;
}

.Button {
  background-color: #1D1842;
}

.attendance-table {
  width: 100%; /* Keep the table width at 100% of the container */
  border-collapse: collapse;
}



.attendance-table thead th {
  background-color: #ffffff; /* Keep the header background consistent */
  position: sticky; /* Keeps the header fixed when scrolling */
  top: 60px; /* Adjust this value to the height of the search container */
  z-index: 5; /* Ensure header stays above the scrolling content */
}

.attendance-table tbody {
  display: block;
 
  
  width: 100%;
}

.TableCell {
  font-weight: var(--font-semi-bold);
}

.attendance-table thead,
.attendance-table tbody tr {

  display: table;
  table-layout: fixed; /* Ensure table columns do not resize */
  width: 100%; /* Ensure the width of thead and tbody are the same */
}

.attendance-table th,
.attendance-table td {
  padding: 8px 5px; /* Reduce padding to make the table more compact */
  color: #1D1842;
  text-align: left;
  white-space: nowrap; /* Prevent content from wrapping */
}

.attendance-table .serial-cell {
  width: 40px; /* Set a fixed width for the serial number column */
  padding-right: 0; /* Remove right padding */
}

.attendance-table .name-cell {
  padding-left: 5px; /* Minimal left padding for the name cell */
}

.attendance-table tr:nth-child(even) {
  background-color: #ffffff;
  /* color: white; */
}

.Textfield {
  margin-right: 10px;
  margin-left: 10px;
}

.edit-input {
  width: 100%; /* Ensure inputs in edit mode fit the cell */
}

/* Center align icons within the table cells */
.attendance-table td .icon,
.attendance-table th .icon {
  display: flex;
  justify-content: center; /* Center icons horizontally */
  align-items: center; /* Center icons vertically */
  /* color: #f2f2f2; */
}

.date-inputAttendance input
{
  background-color: #ffffff
}

.search-box input
{
  background-color: #ffffff
}